# Tarea 

Aproxime el valor de la siguiente integral usando el método monte carlo crudo y método de reducción de varianza de muestreo estratíficado

$$I=\int_{0}^{1}x^2\text{d}x=\left.\frac{x^3}{3}\right|_{x=0}^{x=1}=\frac{1}{3}\approx 0.33333$$

Pasos
1. Cree una función que realice el método de muestreo estratíficado, recibiendo como único parámetro de entrada la cantidad de estratos y retornando las variables estratíficadas correspondientes.
2. Reporte los resultados de la aproximación de la integral usando montecarlo crudo y muestreo estratíficado, en un Dataframe con la información mostrada en la siguiente imagen:
![imagen.png](attachment:imagen.png)

In [2]:
import numpy as np
from functools import reduce
import time
import matplotlib.pyplot as plt
import scipy.stats as st     # Librería estadística
import pandas as pd

In [3]:
# Integración montecarlo
def int_montecarlo(f:'Función a integrar',
                   a:'Límite inferior de la integral',
                   b:'Límite superior de la integral',
                   U:'Muestra de números U~[a,b]'):
    return (b-a)/len(U)*np.sum(f(U))

In [27]:
I = 1/3
# intervalo de integración
a = 0; b = 1

# Cantidad de términos, en escala logarítmica
N = np.logspace(1,7,7,dtype=int)

# Definimos la tabla donde se mostrarán los resultados
df = pd.DataFrame(index=N,columns=['Montecarlo', 'Error_relativo%'], dtype='float')
df.index.name = "Cantidad_terminos"

# Números aleatorios dependiente de la cantidad de términos N
ui = list(map(lambda N:np.random.uniform(a,b,N),N))

# Calculamos la aproximación por montecarlo dependiendo de la cantidad de
# términos que hayamos creado con ui
I_m = list(map(lambda Y:int_montecarlo(lambda x:x**2,a,b,Y),ui))

# Mostramos los resultados en la tabla previamente creada
df.loc[N,"Montecarlo"] = I_m
df.loc[N,"Error_relativo%"] = np.abs(df.loc[N,"Montecarlo"]-I)*100/I
df

                   Montecarlo  Error_relativo%
Cantidad_terminos
10                   0.092247        72.325958
100                  0.306295         8.111394
1000                 0.328802         1.359309
10000                0.333175         0.047370
100000               0.333940         0.181985
1000000              0.333164         0.050925
10000000             0.333266         0.020182

In [106]:
# Cantidad de términos, en escala logarítmica
N = np.logspace(1,7,7,dtype=int)
# Números aleatorios dependiente de la cantidad de términos N
ui = list(map(lambda N:np.random.uniform(a,b,N),N))
i = list(map(lambda k: np.arange(0,k),N))
v = list(map(lambda ui,i,N: (ui+i)/N, ui,i,N))
xi = list(map(lambda v:v**2,v))

mean = list(map(lambda m: np.mean(m),xi))


# Definimos la tabla donde se mostrarán los resultados
df = pd.DataFrame(index = N, columns=['Media', 'Error_relativo%'], dtype='float')
for i in range (0,len(N)):
    df.iloc[i]['Media']=float(mean[i])
    df.iloc[i]['Error_relativo%']=abs((mean[i]-float((1/3)))/float((1/3))*100)
df

             Media  Error_relativo%
10        0.327665     1.700598e+00
100       0.333387     1.599878e-02
1000      0.333332     2.963871e-04
10000     0.333333     1.229037e-04
100000    0.333333     3.638246e-06
1000000   0.333333     6.828091e-08
10000000  0.333333     3.474604e-09